.about-compo {
  background-color: var(--primary-color);
  margin-top: 0;
  height: 100vh;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.about-compo header {
  height: 100%;
  max-height: 500px;
  display: flex;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.about-compo .container .row {
  margin-top: 2rem;
}

.about-compo header .about {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-compo header a :last-child {
  transform: rotate(10deg);
}

.about-compo header img {
  display: inline-block;
  position: relative;
  margin-top: 70px;
  max-width: 300px;
  right: 0;
}

.about-compo header h1 {
  font-size: 3rem;
  font-weight: bolder;
}

.about-compo .btn {
  background-color: white !important;
  color: var(--primary-color);
}

.about-compo header h1 span {
  color: rgb(250, 234, 91);
}

.about-compo header p {
  font-size: 1.2rem;
}

/* media */
@media (max-width: 768px) {
  .about-compo header {
    text-align: center;
    padding-bottom: 2rem;
  }

  .about-compo header .content {
    margin-top: 50px;
  }

  .about-compo header img {
    max-width: 250px;
    margin-bottom: 0;
    z-index: -1;
  }

  .about-compo header h1 {
    font-size: 2rem;
    font-weight: bolder;
  }
}
