.skills-compo .categories {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills-compo .categories li {
  margin: 10px 0;
  margin-right: 14px;
  padding: 4px 12px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease;
  color: #eeeeee;
}

.skills-compo .categories li:hover {
  background: #2d4263;
}

.skills-compo .categories li.active {
  background: #2d4263;
}

.skills-compo .skills {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  );
  grid-gap: 10px;
}

.skills-compo .skill-item {
  cursor: pointer;
  padding: 10px;
  background-color: #2d4263;
  max-width: 150px;
}

.skills-compo .skill-item p {
  font-weight: 600;
  color: #f0f0f0;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.skills-compo img {
  width: 6rem;
  filter: invert(100%);
}
